<html>
<head>
    <title></title>
    <link href="/assets/style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <h1></h1>
    <form method="POST" action="/person">
        Username <input type="text" id="userName" name="userName">
        Password <input type="text" id="password" name="password">
        <input type="submit" value="Enviar">
    </form>
    <br />
    <br />
    <a href="/">Regresar</a>
</body>
</html>