<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <form action="/updateUsuarios" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <br><br>
        <label for="password">Password</label>
        <input type="text" name="password" id="password">
        <br><br>
        <button type="submit">Actualizar</button>
    </form>
    <a href="/">Regresar</a>
</body>
</html>