<html>
    <head>
        <link href=/assets/style.css type="text/css" rel="stylesheet">
    </head>
    <title>aaa</title>
    <body>
        
        <h1>Menu de opciones</h1>
        <br>
        <a href="/buscar" type="button">Buscar</a>
        
        <br><br>
        
        <a href="/insertar"type="button">Insertar</a>
        
        <br><br>

        <a href="/listaDeUsuarios">Lista de Usuarios</a>
    </body>
    
</html>