<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrar Usuario</title>
</head>
<body>
    <h1>Borrar Usuario por ID</h1>
    <form action="/borrado" method="POST">
        <input type="text" name="id" id="id">
        <br><br>
        <input type="submit" value="Borrar">
    </form>
</body>
</html>