<html>
    <head>
        <link href=/assets/style.css type="text/css" rel="stylesheet">
    </head>
    <title>aaa</title>
    <body>
        <h1>Id es <%= ID %></h1>
        <% for(var i = 1; i<=ID;i++){%>
            <p>Hola</p>
        <%} %>
    </body>
</html>